{%- set PORT_ACTIVE = [] %}
{%- for port_idx in range(0, 96, 2) %}
{%- if PORT_ACTIVE.append("Ethernet%d" % (port_idx)) %}{%- endif %}
{%- endfor %}

{%- macro generate_port_lists(PORT_ALL) %}
    {# Generate list of ports #}
    {%- for port_idx in range(0, 96, 2) %}
        {%- if PORT_ALL.append("Ethernet%d" % (port_idx)) %}{%- endif %}
    {%- endfor %}
    {%- for port_idx in range(96, 128, 2) %}
        {%- if PORT_ALL.append("Ethernet%d" % (port_idx)) %}{%- endif %}
    {%- endfor %}
{%- endmacro %}
