#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk
#export DH_VERBOSE = 1

MOD_SRC_DIR:= $(shell pwd)
MAKE ?= make

%:
	dh $@ --with python2,python3 --buildsystem=pybuild
	#dh $@ --with python2,python3,systemd --buildsystem=pybuild

override_dh_auto_build:
	python2.7 setup.py bdist_wheel -d $(MOD_SRC_DIR); \
	python3 setup.py bdist_wheel -d $(MOD_SRC_DIR);

override_dh_usrlocal:

override_dh_clean:
	dh_clean
